body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkgreen;
    border-radius: 10px;
    color: white;
    padding: 60px; 
}

.text{
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
}

.number{
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;

}

button {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: tomato;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: tomato;
}