body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: coral;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 50px;

}

.top-icons {
    display:flex ;
    justify-content: space-between;
}

.container img {
    border: 4px solid #ffff;
    border-radius: 50%;
}

h4 {
    font-size: 22px;
    margin: 10px;

}

h6 {
    font-size: 16px;
    margin: 0px;
}

#progress {
    
    margin: 20px;
    background-color: palevioletred;
    width: 400px;
    height: 5px;
    position: relative;
    cursor: pointer;

}

.play-pause-icons {
    font-size: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}






