* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #0c1e62, #49095f);
}

h3 {
  font-size: 30px;
}
.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
}

#text-input {
  padding: 15px;
  padding-right: 60px;
  border-radius: 50px;
  width: 300px;
  /* border: none; */
  background-color:#49095f;
}

#text-input:focus {
  outline: none;
}

button {
  background-color: orangered;
  color: #edeef0;
  padding: 14px 32px;
  border: none;
  border-radius: 50px;
  position: relative;
  right: 60px;
}

button:hover {
  background-color: #0c1e62;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {

  display: flex;
  align-items: center;
  margin-bottom: 10px;
 
}

.check-container {
  /* background-color:aqua; */
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  margin-right: 6px;
 
}
.checkbox {
  width: 22px;
  height: 22px;
  opacity: 0;
  z-index: 3;
  margin: 0;
 
}

.fake_cb {
  display: flex;
  justify-content:center ;
  align-items: center;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid grey;
  height: 22px;
  width: 22px;
  opacity: 10;
  position: absolute;
  top: 0;
 
}

.checkbox:checked + .fake_cb {
  background-color: orangered;
  border: none;
}

.checkbox:checked + .fake_cb .tick {
  opacity: 1;
} 

.tick {
  color:white;
  font-weight: 600;
  font-size: 14px;
  opacity: 0;
 
}

.h-text h1 {
  font-family: sans-serif;
  margin-left: 60px;
  color: #edeef0;
  font-size: 60px;
}

.h-text h3 {
  color: #edeef0;
  margin-left: 60px;
  font-size: 40px;
}

.h-text span {
  color: orangered;
} 
