body {
    margin: 0;
    display: flex; 
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color:plum; 
    color: #ffff;
}

h1 {
    margin: 0;
    display: flex;
    justify-content: center;
}

.tip-cal {
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
    box-shadow: 2px 4px 6px rgba(0,0,0,.4);

}

.btn {
    padding: 10px;
    background-color: tomato;
    color: #ffff;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow:4px 2px 6px rgba(0,0,0,.3);
}

.btn:hover {
    opacity: .6;
}

input {
    padding: 5px;
    border: none;
}
