
#logo {
    width:40px;
    background-color: aquamarine;    #

}
nav {
    justify-content: space-between;
}

ul img {
    width: 110px;
}
body{
    margin: 0;
}

.nav-bar {
    background-color: bisque;
    align-items: center;
    margin-right: 42px;
    margin-left: 200px;
    display:flex;
    
    
}

ul{
    display: flex;       
}

li {
    margin-right: 30px;
}

a {
    text-decoration: none;
    list-style-type: none;

}